* {
	box-sizing: border-box;
}

.container {
	max-width: 1348px;
	width: 100%;
	height: 100%;

	margin: 0 auto;
	padding: 0 10px;
}

.title {
	font-family: "Azeret Mono", monospace;
	font-weight: 700;
	font-size: 18px;
}
